In [2]:
import yfinance as yf
import pandas as pd 
pd.options.mode.chained_assignment = None  # default='warn' #remove warning #i used this to remove warning

#Defining My ticker symbol 
ticker = 'AB'

#Collect ticker data using this 
tickerdata = yf.Ticker(ticker)

#1m means one month 
tickerDf = tickerdata.history(interval='1mo', start='2015-10-01', end='2020-12-01')

#lets check what we have got 

tickerDf.head(50)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-10-01,16.697602,17.322981,15.478114,16.097239,5835800.0,0.00,0
2015-10-29,NaN,NaN,NaN,NaN,NaN,0.43,0
2015-11-01,16.297065,16.684788,15.305512,15.572469,4433900.0,0.00,0
2015-12-01,15.553399,16.042820,13.494020,15.159321,9431000.0,0.00,0
2016-01-01,15.102116,15.241950,11.231245,11.720666,6057900.0,0.00,0
2016-02-01,11.727021,12.750353,10.239691,12.572383,5824800.0,0.00,0
2016-02-18,NaN,NaN,NaN,NaN,NaN,0.50,0
2016-03-01,13.049263,15.542919,13.049263,15.294860,6504200.0,0.00,0
2016-04-01,15.170830,16.091263,15.014161,15.334027,4855600.0,0.00,0
2016-05-01,15.340553,15.660420,14.426648,15.347081,4905200.0,0.00,0
2016-05-05,NaN,NaN,NaN,NaN,NaN,0.40,0
2016-06-01,15.498538,16.023350,14.276193,15.478608,4454300.0,0.00,0
2016-07-01,15.478609,16.402012,14.913940,15.917059,3436700.0,0.00,0
2016-08-01,16.036636,16.036636,14.143331,14.541921,5527900.0,0.00,0
2016-08-04,NaN,NaN,NaN,NaN,NaN,0.40,0
2016-09-01,14.858700,15.711249,14.581284,15.427066,4849200.0,0.00,0
2016-10-01,15.447365,15.724781,14.588050,14.750440,3566600.0,0.00,0
2016-11-01,14.750442,16.239019,14.039985,15.291743,5909700.0,0.00,0
2016-11-03,NaN,NaN,NaN,NaN,NaN,0.45,0
2016-12-01,15.621781,16.658625,15.241604,16.209326,8343000.0,0.00,0
2017-01-01,16.416693,17.280729,15.621780,16.140202,5864900.0,0.00,0
2017-02-01,16.209328,17.370592,15.932835,16.382135,7970500.0,0.00,0
2017-02-22,NaN,NaN,NaN,NaN,NaN,0.67,0
2017-03-01,16.980999,17.052049,15.169219,16.234972,7121700.0,0.00,0
2017-04-01,16.234970,16.526276,15.702093,16.270494,7460800.0,0.00,0
2017-05-01,16.270492,16.306018,14.494238,16.021816,16010500.0,0.00,0
2017-05-04,NaN,NaN,NaN,NaN,NaN,0.46,0
2017-06-01,16.372937,17.389440,16.300331,17.171618,8261100.0,0.00,0
2017-07-01,17.135315,18.986800,17.062708,17.970299,4974000.0,0.00,0
2017-08-01,17.970299,18.151817,16.372939,17.026405,5247600.0,0.00,0
2017-08-03,NaN,NaN,NaN,NaN,NaN,0.49,0
2017-09-01,17.295526,18.243630,17.147383,17.999197,4234200.0,0.00,0
2017-10-01,18.073265,19.739857,17.814017,19.147291,4749600.0,0.00,0
2017-11-01,19.184327,19.480610,17.784390,18.517691,4479100.0,0.00,0
2017-11-03,NaN,NaN,NaN,NaN,NaN,0.51,0
2017-12-01,18.887463,19.756286,18.396390,18.925238,5715200.0,0.00,0
2018-01-01,18.925239,21.153960,18.857244,20.625111,5779500.0,0.00,0
2018-02-01,20.549559,21.267282,18.403944,20.096260,7352600.0,0.00,0
2018-02-22,NaN,NaN,NaN,NaN,NaN,0.84,0
2018-03-01,20.721250,21.305496,20.059104,20.915998,6149100.0,0.00,0
2018-04-01,20.877047,21.344444,20.214903,21.188646,5902900.0,0.00,0
2018-05-01,21.110741,22.279233,20.409647,22.084484,9396400.0,0.00,0
2018-05-04,NaN,NaN,NaN,NaN,NaN,0.73,0
2018-06-01,22.820631,23.861571,22.660485,22.860666,6257200.0,0.00,0
2018-07-01,22.780599,24.662299,22.740562,24.181866,5839600.0,0.00,0
2018-08-01,24.261935,24.582226,21.947843,24.061754,6895900.0,0.00,0
2018-08-03,NaN,NaN,NaN,NaN,NaN,0.62,0
2018-09-01,24.518843,25.566726,24.232312,24.928173,4047300.0,0.00,0
2018-10-01,25.010041,25.574917,22.987953,23.667440,8933100.0,0.00,0
2018-11-01,24.052208,25.059160,23.053444,24.731695,6232400.0,0.00,0

In [3]:
# lets drop some columns and Null values 
ty = tickerDf.dropna()

for col in ty.columns: 
    print(col) 
ty.drop(columns=['Open','High','Low','Volume','Dividends','Stock Splits'], inplace = True)

Open
High
Low
Close
Volume
Dividends
Stock Splits

In [4]:
#Lets take the percentage change or HDR of the stock
ty = ty.pct_change()
ty1 = ty.rename(columns={'Close': ticker })
ty1.dropna()

                  AB
Date
2015-11-01 -0.032600
2015-12-01 -0.026531
2016-01-01 -0.226834
2016-02-01  0.072668
2016-03-01  0.216544
...              ...
2020-07-01  0.042952
2020-08-01  0.024250
2020-09-01 -0.050895
2020-10-01  0.074704
2020-11-01  0.122612

[61 rows x 1 columns]

In [5]:
cicker = '^GSPC'

#get data on this ticker
cickerdata = yf.Ticker(cicker)

#get the historical prices for this ticker
cickerDf = cickerdata.history(interval='1mo', start='2015-10-01', end='2020-12-01')

#see your data
cy = cickerDf.dropna()
cy.head
for col in cy.columns: 
    print(col) 
cy.drop(columns=['Open','High','Low','Volume','Dividends','Stock Splits'], inplace = True)
#for ind, row in cy.iterrows():
#    cy.loc[ind, "GSPCHDR"] =  cy.pct_change() 
cy = cy.pct_change()
cy1 = cy.rename(columns={'Close': cicker}) # or i could use '^gspc' for str
cy1.dropna()

Open
High
Low
Close
Volume
Dividends
Stock Splits

               ^GSPC
Date
2015-11-01  0.000505
2015-12-01 -0.017530
2016-01-01 -0.050735
2016-02-01 -0.004128
2016-03-01  0.065991
...              ...
2020-07-01  0.055101
2020-08-01  0.070065
2020-09-01 -0.039228
2020-10-01 -0.027666
2020-11-01  0.107546

[61 rows x 1 columns]

In [6]:
#lets get the maturity rates 
trs = pd.read_csv('https://raw.githubusercontent.com/asiqman12/ln_regression/main/w.csv')
trs

         DATE    DGS1MO
0   11/1/2015  0.071053
1   12/1/2015  0.171818
2    1/1/2016  0.227368
3    2/1/2016  0.256000
4    3/1/2016  0.253182
..        ...       ...
57   8/1/2020  0.082381
58   9/1/2020  0.089524
59  10/1/2020  0.086667
60  11/1/2020  0.086842
61        NaN       NaN

[62 rows x 2 columns]

In [7]:
#now lets combine
for ind, row in trs.iterrows():
    trs.loc[ind, "DGS1MO"] = row['DGS1MO'] / 100

import numpy as np
# pre 0.24
trs[ticker] = ty1[ticker].values
# >= 0.24
trs[ticker] = ty1[ticker].to_numpy()
trs[cicker] = cy1[cicker].values
# >= 0.24
trs[cicker] = cy1[cicker].to_numpy()
trs.dropna()

trs["Xaxis"] = trs[cicker] - trs['DGS1MO']
trs["Yaxis"] = trs[ticker] - trs['DGS1MO']
trs.dropna()

         DATE    DGS1MO        AB     ^GSPC     Xaxis     Yaxis
1   12/1/2015  0.001718 -0.032600  0.000505 -0.001213 -0.034318
2    1/1/2016  0.002274 -0.026531 -0.017530 -0.019804 -0.028804
3    2/1/2016  0.002560 -0.226834 -0.050735 -0.053295 -0.229394
4    3/1/2016  0.002532  0.072668 -0.004128 -0.006660  0.070136
5    4/1/2016  0.001876  0.216544  0.065991  0.064115  0.214668
6    5/1/2016  0.002262  0.002561  0.002699  0.000437  0.000299
7    6/1/2016  0.002214  0.000851  0.015325  0.013111 -0.001362
8    7/1/2016  0.002635  0.008570  0.000911 -0.001724  0.005935
9    8/1/2016  0.002609  0.028326  0.035610  0.033001  0.025718
10   9/1/2016  0.001914 -0.086394 -0.001219 -0.003134 -0.088308
11  10/1/2016  0.002440  0.060869 -0.001234 -0.003674  0.058429
12  11/1/2016  0.003000 -0.043860 -0.019426 -0.022426 -0.046860
13  12/1/2016  0.004233  0.036697  0.034175  0.029941  0.032464
14   1/1/2017  0.004960  0.060005  0.018201  0.013241  0.055045
15   2/1/2017  0.004821 -0.004264  0.017884  0.013063 -0.009086
16   3/1/2017  0.006626  0.014990  0.037198  0.030572  0.008363
17   4/1/2017  0.007458 -0.008983 -0.000389 -0.007847 -0.016441
18   5/1/2017  0.007282  0.002188  0.009091  0.001809 -0.005094
19   6/1/2017  0.008414 -0.015284  0.011576  0.003163 -0.023698
20   7/1/2017  0.009720  0.071765  0.004814 -0.004906  0.062045
21   8/1/2017  0.009796  0.046512  0.019349  0.009553  0.036716
22   9/1/2017  0.009940 -0.052525  0.000546 -0.009394 -0.062465
23  10/1/2017  0.009957  0.057134  0.019303  0.009346  0.047177
24  11/1/2017  0.010900  0.063786  0.022188  0.011288  0.052886
25  12/1/2017  0.012040 -0.032882  0.003720 -0.008320 -0.044922
26   1/1/2018  0.013000  0.022009  0.034343  0.021343  0.009009
27   2/1/2018  0.013805  0.089820  0.056179  0.042373  0.076015
28   3/1/2018  0.016367 -0.025641 -0.038947 -0.055314 -0.042008
29   4/1/2018  0.016605  0.040791 -0.026884 -0.043489  0.024186
30   5/1/2018  0.017068  0.013035  0.002719 -0.014349 -0.004033
31   6/1/2018  0.018052  0.042279  0.021608  0.003556  0.024227
32   7/1/2018  0.018933  0.035146  0.004842 -0.014091  0.016213
33   8/1/2018  0.019409  0.057794  0.036022  0.016613  0.038385
34   9/1/2018  0.020368 -0.004967  0.030263  0.009895 -0.025335
35  10/1/2018  0.021736  0.036008  0.004294 -0.017442  0.014272
36  11/1/2018  0.022405 -0.050575 -0.069403 -0.091808 -0.072980
37  12/1/2018  0.023658  0.044967  0.017859 -0.005799  0.021309
38   1/1/2019  0.024005 -0.073746 -0.091777 -0.115782 -0.097751
39   2/1/2019  0.024253  0.116032  0.078684  0.054432  0.091780
40   3/1/2019  0.024543 -0.044605  0.029729  0.005186 -0.069148
41   4/1/2019  0.024257  0.013039  0.017924 -0.006333 -0.011218
42   5/1/2019  0.023964  0.021461  0.039313  0.015350 -0.002503
43   6/1/2019  0.022220 -0.078617 -0.065778 -0.087998 -0.100837
44   7/1/2019  0.021532  0.111511  0.068930  0.047398  0.089979
45   8/1/2019  0.020677  0.015141  0.013128 -0.007549 -0.005536
46   9/1/2019  0.019860 -0.062645 -0.018092 -0.037952 -0.082505
47  10/1/2019  0.017255  0.057981  0.017181 -0.000073  0.040726
48  11/1/2019  0.015837  0.000341  0.020432  0.004595 -0.015496
49  12/1/2019  0.015514 -0.013283  0.034047  0.018533 -0.028798
50   1/1/2020  0.015333  0.067434  0.028590  0.013256  0.052100
51   2/1/2020  0.015763  0.082287 -0.001628 -0.017391  0.066524
52   3/1/2020  0.003705 -0.071450 -0.084110 -0.087815 -0.075155
53   4/1/2020  0.001100 -0.373829 -0.125119 -0.126219 -0.374929
54   5/1/2020  0.000985  0.259817  0.126844  0.125859  0.258832
55   6/1/2020  0.001300  0.066183  0.045282  0.043982  0.064883
56   7/1/2020  0.001059  0.122702  0.018388  0.017329  0.121643
57   8/1/2020  0.000824  0.042952  0.055101  0.054278  0.042128
58   9/1/2020  0.000895  0.024250  0.070065  0.069169  0.023354
59  10/1/2020  0.000867 -0.050895 -0.039228 -0.040095 -0.051762
60  11/1/2020  0.000868  0.074704 -0.027666 -0.028534  0.073836

In [ ]:
#lets